<div class="post-list">
    <% posts.forEach( post => { %>
        <div class="post-container-all">
            <div class="post-container" >
                
                <div class="post-header">
                    <img class="post-image" width="100" src="<%= post.user.profileImg %>" alt="">
                    <div class="post-user-container">
                        <h3><%= post.user.name %> </h3>
                        <h5 class="date"><%= post.date.toLocaleString() %></h5>
                    </div>
                    <% if(post.user.id == user._id){ %>
                        <%- include('./deletePost.ejs', {post: post}) %> 
                    <% } %>
                </div>
                <div class="post-text-container">
                    <h3><%= post.text %></h3>
                </div>
                <hr>
                <div class="post-stats-container">
                    <form  action="/feed/<%= post.id %>/like?_method=PUT" method="POST" onSubmit="{ e => e.preventDefault() }" >
                        
                        <% if (!post.likes.some(e => e.id == user._id)) { %> 
                            <button class="like-button" type="submit"><i class="far fa-thumbs-up"></i></button>
                        <% }else{ %> 
                            <button class="like-button" type="submit"><i class="fa fa-thumbs-up"></i></button>
                        <% } %> 
                    </form>
    
                    <div class="like-drop-down">
                        <button  class="like-btn like-list-button">Likes: <%= post.likes.length %></button>
                        <div class="likes">
                            <% post.likes.forEach( like => { %> 
                                <h5 class="like"><%= like.name %></h5>
                            <% }) %> 
                        </div>
                    </div>
        
                    <% const comments = post.comments.map( x => x.user); %>
                    <% const flatComments = [...new Set(comments)]; %>  
        
                    <div class="comment-drop-down">
                        <button class="comment-btn comment-list-button">Comments: <%= post.comments.length %></button>
                        <div class="comments">
                            <% flatComments.forEach( comment => { %> 
                                <h5 class="comment"><%= comment.name %></h5>
                            <% }) %> 
                        </div>
                    </div>
                </div>
                
            </div>
            <div class="comment-section">
                <% post.comments.forEach( comment => { %>
                    <div class="comment-container">
                        <div class="comment-header">
                            <img class="comment-image" width="50" src="<%= comment.user.profileImg %>" alt="">
                            <div class="comment-user-container">
                                <h5><%= comment.user.name %> </h5>
                                <h6><%= comment.date.toLocaleString() %> </h6>
                            </div>
                        </div>
                        <h4><%= comment.message %></h4>
                    </div>
                <% }) %> 
                
                <form action="/feed/<%= post.id %>?_method=PUT" method="POST" class="comment-form">
                    <input type="text" name="message" class="comment-input">
                    <button class="comment-button" type="submit">Comment</button>
                </form>
            </div>
        </div>
    <% }) %> 
</div>